# Module 6 handler validation
# Role: web_config
# Host: {{ inventory_hostname }}
# Company: {{ company }}
# Environment: {{ environment_name }}

ServerTokens Prod
ServerSignature Off
TraceEnable Off
AddDefaultCharset UTF-8