###############################################
# {{ company | upper }} - {{ environment_name | upper }}
# Host: {{ inventory_hostname }}
# Managed by Ansible. Manual changes will be overwritten.
###############################################
